<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="testng-project">
    <test name="testng-project">
        <classes>
            <class name="com.interfaceproject.httpclient.PostJsonGeneralCase" >
            </class>
        </classes>
    </test>
    <listeners>
      <listener class-name="com.interfaceproject.listener.ExtentTestNGIReporterListener" />
    </listeners>
</suite>